/* Стилі для сфери на головній сторінці */
.sphereContainer {
  position: absolute;
  top: 60%; /* Зміщуємо трохи нижче, щоб не обрізалася */
  right: 1%; /* Зміщуємо трохи правіше, щоб не обрізалася з правого краю */
  width: 65%; /* Збільшуємо ширину контейнера */
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: visible; /* Дозволяємо виходити за межі контейнера */
  transform: translateY(-50%); /* Додаткове центрування */
}

.sphereCanvas {
  width: 100%;
  height: 100%;
}

/* Стилі для сфери в формі замовлення */
.orderSphereContainer {
  position: absolute;
  top: 20%; /* нижче */
  left: 25%; /* лівіше */
  width: 75%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

/* Адаптивність для планшетів */
@media (max-width: 1024px) {
  .sphereContainer {
    width: 70%;
    right: -10%;
  }
  
  .orderSphereContainer {
    left: 25%;
    width: 80%;
  }
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 768px) {
  .sphereContainer {
    position: absolute;
    top: 85%; /* Опускаємо сферу нижче */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px; /* Збільшуємо розмір сфери */
    height: 380px; /* Збільшуємо розмір сфери */
    right: auto;
    opacity: 0.9; /* Збільшуємо непрозорість */
    overflow: visible; /* Дозволяємо виходити за межі контейнера */
  }
  
  .orderSphereContainer {
    display: none; /* Приховуємо в мобільній версії форми замовлення */
  }
}

@media (max-width: 576px) {
  .sphereContainer {
    width: 300px;
    height: 300px;
  }
}
